<body class='older_browser ev media pt'>            
    <ol class='contents clearfix'>

    {% include menu-nested.html %}
    
    <li class="container left">
        <div class="content" id="content_14775_container">
            <div class="list artigos_economia " id="list_144">
            
                <h1><span class="value">Artigo recursos humanos</span><span class="i18n"></span></h1>

                <div class="item">
                    <div class="folder">
                        <div class="folder">
                        <div class="name">
                            <span class="label">Nome</span>
                            <span class="value">{{page.title}}</span>
                        </div>
                        <div class="date">
                            <span class="label">Data</span>
                            <span class="value">{{page.data}}</span>
                        </div>
                        </div>
                        <div class="string1">
                        <span class="label">String 1</span>
                        <span class="value"></span>
                        </div>
                    </div>

                    <div class="text1">
                        <span class="label">Texto 1</span>
                        <span class="value">
                        <div class="text">
                            <p style="text-align: justify;"><img style="display: block; margin-left: auto; margin-right: auto;" src="{{page.text_image_path}}" alt="" width="627" height="123" /></p>
                            <p style="text-align: justify;">{{content}}</p><br><br>
                        </div>
                    </span>
                </div>

                <div class="_back_link_">
                    <div class="back-link">
                    <a href="../../../../../../pt-media/artigos/index.html"><span>voltar</span></a>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </li>

    </ol>
</body>