{% if page.idiom == "pt" %}
<div class='clearfix' id='footer_container'>
    <div class='clearfix' id='container4'>
        <div class='contents'>
            <ol class='contents clearfix'>
                <li class="container left">
                    <div class='content' id='content_14735_container'>
                        <div class='nested-menu rodape lightbox'>
                            <ul>
                                <!-- ETICA -->
                                <li class='etica'>
                                    <div class='wrapper'>
                                        <a class="iframe" href='../../../../mais/etica.html' data-fancybox="overlay" data-fancybox-width="500" data-fancybox-height="400" data-fancybox-type="iframe"><span class='icon'></span><span class='label'>Ética</span></a>
                                    </div>
                                </li>
                                <!-- SUGECTOES -->
                                <li class='sugestoes-e-reclamacoes'>
                                    <div class='wrapper'>
                                        <a href='../../../../mais/sugestoes-e-reclamacoes.html' target='' alt=''><span class='icon'></span><span class='label'>Sugestões e Reclamações</span></a>
                                    </div>
                                </li>
                                <!-- OPORTUNIDADES -->
                                <li class='oportunidades'>
                                    <div class='wrapper'>
                                        <a href='../../../../mais/oportunidades.html' target='' alt=''><span class='icon'></span><span class='label'>Oportunidades</span></a>
                                    </div>
                                </li>
                                <!-- RESPONSABILIDADE -->
                                <li class='responsabilidade-social'>
                                    <div class='wrapper'>
                                        <a href='../../../../mais/responsabilidade-social.html' target='' alt=''><span class='icon'></span><span class='label'>Responsabilidade Social</span></a>
                                    </div>
                                </li>
                                <!-- PRIVACIDADE -->
                                <li class='privacidade'>
                                    <div class='wrapper'>
                                        <a href='../../../../mais/privacidade.html' target='' alt=''><span class='icon'></span><span class='label'>Privacidade</span></a>
                                    </div>
                                </li>
                                <!-- NEWSLETTER -->
                                <li class='newsletter'>
                                    <div class='wrapper'>
                                        <a href='../../../../mais/newsletter.html' target='' alt=''><span class='icon'></span><span class='label'>Newsletter</span></a>
                                    </div>
                                </li>
                                <!-- SEGURANÇA -->
                                <li class='seguranca -last'>
                                    <div class='wrapper'>
                                        <a href='../../../../mais/seguranca.html' target='' alt=''><span class='icon'></span><span class='label'>Segurança</span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="container right ">
                    <div class='content' id='content_14737_container-unique'>
                        <div class='text copyright'>
                            <div class='i'>
                                <div>EDITVALUE®Capital Humano©2013</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>

{% elsif page.idiom == "en" %}
<div class='' id='footer_container'>
  <div class='' id='container4'>
    <div class='contents'>
      <ol class='contents '>
        <li class="container right ">
          <div class='content' id='content_15025_container'>
            <div class='text copyright'>
              <div class='i'>
                <div>EDITVALUE®Capital Humano©2013</div>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>

{% elsif page.idiom == "es" %}
<div class='' id='footer_container'>
  <div class='' id='container4'>
    <div class='contents'>
      <ol class='contents '>
        <li class="container right ">
          <div class='content' id='content_15025_container'>
            <div class='text copyright'>
              <div class='i'>
                <div>EDITVALUE®Capital Humano©2013</div>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>

{% endif %}