<div id='header_container'>
    <div class='' id='container1' style="
    background: url(../../../../../../../assets/uploads/bg_sprite_v3_formacao30f4.png) 0px 10px no-repeat!important;
">
        <div class='contents'>
            <ol class='contents '>

                <li class="container container-float-right">
                    <div class='content' id='content_14731_container'>
                        <div class='nested-menu language_header'>
                            <ul>
                            <!-- *******************************| PT pages |************************************-->
                                {% if page.idiom == "pt" %}
                                    <!-- EN -->
                                    <li class='en-index-en'>
                                        <div class='wrapper'>
                                            {% if page.class == "index-pt" or page.class == "media-pt" or page.class == "rede-pt" %}
                                                <a href='../../../../en.html' target='' alt=''><span class='icon'></span><span class='label'>en</span></a>
                                            {% elsif page.class == "equipa-pt" or page.class == "formacao-pt" %}
                                                <a href='../../../../en/team.html' target='' alt=''><span class='icon'></span><span class='label'>en</span></a>
                                            {% elsif page.class == "servicos-pt" %}
                                                <a href='../../../../en/services.html' target='' alt=''><span class='icon'></span><span class='label'>en</span></a>
                                            {% elsif page.class == "contactos-pt" %}
                                                <a href='../../../../en/contacts.html' target='' alt=''><span class='icon'></span><span class='label'>en</span></a>
                                            {% endif %}
                                        </div>
                                    </li>

                                    <!-- ES -->
                                    <li class='es-index-es'>
                                        <div class='wrapper'>
                                            {% if page.class == "index-pt" or page.class == "media-pt" or page.class == "rede-pt" %}
                                                <a href='../../../../es.html' target='' alt=''><span class='icon'></span><span class='label'>es</span></a>
                                            {% elsif page.class == "equipa-pt" or page.class == "formacao-pt" %}
                                                <a href='../../../../es/equipo.html' target='' alt=''><span class='icon'></span><span class='label'>es</span></a>
                                            {% elsif page.class == "servicos-pt" %}
                                                <a href='../../../../es/servicios.html' target='' alt=''><span class='icon'></span><span class='label'>es</span></a>
                                            {% elsif page.class == "contactos-pt" %}
                                                <a href='../../../../es/contactos.html' target='' alt=''><span class='icon'></span><span class='label'>es</span></a>
                                            {% endif %}
                                        </div>
                                    </li>

                                    <!-- CONSULTORIA -->
                                    <li class='consultoria'>
                                        {% if page.class == "index-pt" or page.class == "media-pt" or page.class == "formacao-pt" %}                                        
                                            <div class='wrapper'><a href='http://consultoriaempresarial.editvalue.com/index' data-href-domain-fix="com" target='' alt=''><span class='icon'></span><span class='label'>Consultoria Empresarial</span></a></div>
                                        {% elsif page.class == "equipa-pt" %}
                                            <div class='wrapper'><a href='http://consultoriaempresarial.editvalue.com/equipa' data-href-domain-fix="com" target='' alt=''><span class='icon'></span><span class='label'>Consultoria Empresarial</span></a></div>                                    
                                        {% elsif page.class == "servicos-pt" %}
                                            <div class='wrapper'><a href='http://consultoriaempresarial.editvalue.com/servicos' data-href-domain-fix="com" target='' alt=''><span class='icon'></span><span class='label'>Consultoria Empresarial</span></a></div>                                    
                                        {% elsif page.class == "rede-pt" %}
                                            <div class='wrapper'><a href='http://consultoriaempresarial.editvalue.com/rede' data-href-domain-fix="com" target='' alt=''><span class='icon'></span><span class='label'>Consultoria Empresarial</span></a></div>                                                                        
                                        {% elsif page.class == "contactos-pt" %}
                                        <div class='wrapper'><a href='http://consultoriaempresarial.editvalue.com/contactos' data-href-domain-fix="com" target='' alt=''><span class='icon'></span><span class='label'>Consultoria Empresarial</span></a></div>
                                        {% endif %}
                                    </li>

                                    <!-- AREA CLIENTE -->
                                    <li class='clientes -last '>
                                        <div class='wrapper'>
                                            <a href='https://dynamicvalue.editvalue.com/' target='' alt=''><span class='icon'></span><span class='label'>Área de clientes</span></a>
                                        </div>
                                    </li>

                            <!-- *******************************| EN pages |************************************-->
                                {% elsif page.idiom == "en" %}
                                    <!-- ES -->
                                    <li class='es-index-es'>
                                        <div class='wrapper'>
                                        {% if page.class == "index-en" %}
                                            <a href='../../../../es.html' target='' alt=''><span class='icon'></span><span class='label'>es</span></a>
                                        {% elsif page.class == "equipa-en" %}
                                            <a href='../../../../es/equipo.html' target='' alt=''><span class='icon'></span><span class='label'>es</span></a>
                                        {% elsif page.class == "servicos-en" %}
                                            <a href='../../../../es/servicios.html' target='' alt=''><span class='icon'></span><span class='label'>es</span></a>
                                        {% elsif page.class == "contactos-en" %}
                                            <a href='../../../../es/contactos.html' target='' alt=''><span class='icon'></span><span class='label'>es</span></a>
                                        {% endif %}
                                        </div>
                                    </li>

                                    <!-- PT -->
                                    <li class='index'>
                                        <div class='wrapper'>
                                        {% if page.class == "index-en" %}
                                            <a href='../../../../index.html' target='' alt=''><span class='icon'></span><span class='label'>pt</span></a>
                                        {% elsif page.class == "equipa-en" %}
                                            <a href='../../../../equipa.html' target='' alt=''><span class='icon'></span><span class='label'>pt</span></a>
                                        {% elsif page.class == "servicos-en" %}
                                            <a href='../../../../servicos.html' target='' alt=''><span class='icon'></span><span class='label'>pt</span></a>
                                        {% elsif page.class == "contactos-en" %}
                                            <a href='../../../../contactos.html' target='' alt=''><span class='icon'></span><span class='label'>pt</span></a>
                                        {% endif %}
                                        </div>
                                    </li>

                                    <!-- CONSULTORIA -->
                                    <li class='consultoria'>
                                        <div class='wrapper'>
                                        {% if page.class == "index-en" %}                                                
                                            <a href='http://consultoriaempresarial.editvalue.com/en' data-href-domain-fix="com" target='' alt=''><span class='icon'></span><span class='label'>Business Consulting</span></a>
                                        {% elsif page.class == "equipa-en" %}
                                            <a href='http://consultoriaempresarial.editvalue.com/en/team' data-href-domain-fix="com" target='' alt=''><span class='icon'></span><span class='label'>Business Consulting</span></a>
                                        {% elsif page.class == "servicos-en" %}
                                            <a href='http://consultoriaempresarial.editvalue.com/en/services' data-href-domain-fix="com" target='' alt=''><span class='icon'></span><span class='label'>Business Consulting</span></a>
                                        {% elsif page.class == "contactos-en" %}
                                        <a href='http://consultoriaempresarial.editvalue.com/en/contacts' data-href-domain-fix="com" target='' alt=''><span class='icon'></span><span class='label'>Business Consulting</span></a>
                                        {% endif %}
                                        </div>
                                    </li>

                                    <!-- AREA CLIENTE -->
                                    <li class='clientes -last ' style="display: none;">
                                        <div class='wrapper'>
                                        <a href='https://dynamicvalue.editvalue.com/' target='' alt=''><span class='icon'></span><span class='label'>Área de clientes</span></a>
                                        </div>
                                    </li>
                            <!-- *******************************| ES pages |************************************-->
                                {% elsif page.idiom == "es" %}
                                    <!-- PT -->
                                    <li class='index'>
                                        <div class='wrapper'>
                                        {% if page.class == "index-es" %}                                                
                                            <a href='../../../../index.html' target='' alt=''><span class='icon'></span><span class='label'>pt</span></a>
                                        {% elsif page.class == "equipa-es" %}
                                            <a href='../../../../equipa.html' target='' alt=''><span class='icon'></span><span class='label'>pt</span></a>
                                        {% elsif page.class == "servicos-es" %}
                                            <a href='../../../../servicos.html' target='' alt=''><span class='icon'></span><span class='label'>pt</span></a>
                                        {% elsif page.class == "contactos-es" %}
                                            <a href='../../../../contactos.html' target='' alt=''><span class='icon'></span><span class='label'>pt</span></a>
                                        {% endif %}                                            
                                        </div>
                                    </li>

                                    <!-- EN -->
                                    <li class='en-index-en'>
                                        <div class='wrapper'>
                                        {% if page.class == "index-es" %}                                                
                                            <a href='../../../../en.html' target='' alt=''><span class='icon'></span><span class='label'>en</span></a>
                                        {% elsif page.class == "equipa-es" %}
                                            <a href='../../../../en/team.html' target='' alt=''><span class='icon'></span><span class='label'>en</span></a>
                                        {% elsif page.class == "servicos-es" %}
                                            <a href='../../../../en/services.html' target='' alt=''><span class='icon'></span><span class='label'>en</span></a>
                                        {% elsif page.class == "contactos-es" %}
                                            <a href='../../../../en/contacts.html' target='' alt=''><span class='icon'></span><span class='label'>en</span></a>
                                        {% endif %}
                                        </div>
                                    </li>
            
                                    <!-- CONSULTORIA -->
                                    <li class='consultoria'>
                                        <div class='wrapper'>
                                        {% if page.class == "index-es" %}                                                
                                            <a href='http://consultoriaempresarial.editvalue.com/es' data-href-domain-fix="com" target='' alt=''><span class='icon'></span><span class='label'>Consultoría Empresarial</span></a>
                                        {% elsif page.class == "equipa-es" %}
                                            <a href='http://consultoriaempresarial.editvalue.com/es/equipo' data-href-domain-fix="com" target='' alt=''><span class='icon'></span><span class='label'>Consultoría Empresarial</span></a>
                                        {% elsif page.class == "servicos-es" %}
                                            <a href='http://consultoriaempresarial.editvalue.com/es/servicios' data-href-domain-fix="com" target='' alt=''><span class='icon'></span><span class='label'>Consultoría Empresarial</span></a>
                                        {% elsif page.class == "contactos-es" %}
                                            <a href='http://consultoriaempresarial.editvalue.com/es/contactos' data-href-domain-fix="com" target='' alt=''><span class='icon'></span><span class='label'>Consultoría Empresarial</span></a>
                                        {% endif %}
                                        </div>
                                    </li>
                                    
                                    <li class='clientes -last ' style="display: none;">
                                        <div class='wrapper'>
                                            <a href='https://dynamicvalue.editvalue.com/' target='' alt=''><span class='icon'></span><span class='label'>Área de clientes</span></a>
                                        </div>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="container right ">
                    <div class='content' id='content_15219_container'>
                        <div class='nested-menu redessociais '>
                            <ul>
                                <li class='http-editvalue-blogspot-com blogger'>
                                    <div class='wrapper'>
                                        {% if page.idiom == "pt" %}
                                            <a href='{{site.data.paginas-sociais.pt.blogpost}}' target='_blank' alt=''><span class='icon'></span><span class='label'>Blogger</span></a>
                                        {% elsif page.idiom == "en" %}
                                            <a href='{{site.data.paginas-sociais.en.blogpost}}' target='_blank' alt=''><span class='icon'></span><span class='label'>Blogger</span></a>
                                        {% elsif page.idiom == "es" %}
                                            <a href='{{site.data.paginas-sociais.es.blogpost}}' target='_blank' alt=''><span class='icon'></span><span class='label'>Blogger</span></a>
                                        {% endif %}
                                    </div>
                                </li>
                                <li class='http-twitter-com-editvalue twitter'>
                                    <div class='wrapper'>
                                        {% if page.idiom == "pt" %}                                            
                                            <a href='{{site.data.paginas-sociais.pt.twitter}}' target='_blank' alt=''><span class='icon'></span><span class='label'>Twitter</span></a>
                                        {% elsif page.idiom == "en" %}
                                            <a href='{{site.data.paginas-sociais.en.twitter}}' target='_blank' alt=''><span class='icon'></span><span class='label'>Twitter</span></a>
                                        {% elsif page.idiom == "es" %}
                                            <a href='{{site.data.paginas-sociais.es.twitter}}' target='_blank' alt=''><span class='icon'></span><span class='label'>Twitter</span></a>
                                        {% endif %}
                                    </div>
                                </li>
                                <li class='https-www-linkedin-com-company-edit-value-formacao-empresarial linkedin'>
                                    <div class='wrapper'>
                                        {% if page.idiom == "pt" %}                                            
                                            <a href='{{site.data.paginas-sociais.pt.linked-in}}' target=' _blank'
                                                alt=''><span class='icon'></span><span class='label'>Linkedin</span></a>
                                        {% elsif page.idiom == "en" %}
                                            <a href='{{site.data.paginas-sociais.en.linked-in}}' target=' _blank'
                                                alt=''><span class='icon'></span><span class='label'>Linkedin</span></a>
                                        {% elsif page.idiom == "es" %}
                                            <a href='{{site.data.paginas-sociais.es.linked-in}}' target=' _blank'
                                                alt=''><span class='icon'></span><span class='label'>Linkedin</span></a>
                                        {% endif %}
                                    </div>
                                </li>
                                <li class='http-www-facebook-com-editvalue-formacao facebook -last'>
                                    {% if page.idiom == "pt" %}                                            
                                        <div class='wrapper'><a href='{{site.data.paginas-sociais.pt.facebook}}' target='_blank' alt=''><span class='icon'></span><spanclass='label'></span></a></div>
                                    {% elsif page.idiom == "en" %}
                                        <div class='wrapper'><a href='{{site.data.paginas-sociais.en.facebook}}' target='_blank' alt=''><span class='icon'></span><spanclass='label'></span></a></div>
                                    {% elsif page.idiom == "es" %}
                                        <div class='wrapper'><a href='{{site.data.paginas-sociais.es.facebook}}' target='_blank' alt=''><span class='icon'></span><spanclass='label'></span></a></div>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>