<div id='header_container'>
    <div class='' id='container1'>
        <div class='contents'>
            <ol class='contents '>

                <li class="container container-float-right">
                    <div class='content' id='content_14731_container'>
                        <div class='nested-menu language_header'>
                            <ul>
                                <!-- EN -->
                                <li class='en-index-en'>
                                    <div class='wrapper'>
                                        {% if page.class == "index-pt" or page.class == "media-pt" or page.class == "rede-pt" %}
                                            <a href='en.html' target='' alt=''><span class='icon'></span><span class='label'>en</span></a>
                                        {% elsif page.class == "equipa-pt" %}
                                            <a href='en/team.html' target='' alt=''><span class='icon'></span><span class='label'>en</span></a>
                                        {% elsif page.class == "servicos-pt" %}
                                            <a href='en/services.html' target='' alt=''><span class='icon'></span><span class='label'>en</span></a>
                                        {% elsif page.class == "contactos-pt" %}

                                        {% endif %}
                                    </div>
                                </li>

                                <!-- ES -->
                                <li class='es-index-es'>
                                    <div class='wrapper'>
                                        {% if page.class == "index-pt" or page.class == "media-pt" or page.class == "rede-pt" %}
                                            <a href='es.html' target='' alt=''><span class='icon'></span><span class='label'>es</span></a>
                                        {% elsif page.class == "equipa-pt" %}
                                            <a href='es/equipo.html' target='' alt=''><span class='icon'></span><span class='label'>es</span></a>
                                        {% elsif page.class == "servicos-pt" %}
                                            <a href='es/servicios.html' target='' alt=''><span class='icon'></span><span class='label'>es</span></a>
                                        {% elsif page.class == "contactos-pt" %}

                                        {% endif %}
                                    </div>
                                </li>

                                <!-- CONSULTORIA -->
                                <li class='consultoria'>
                                    {% if page.class == "index-pt" or page.class == "media-pt" %}                                        
                                        <div class='wrapper'><a href='http://consultoria.editvalue.com/index' data-href-domain-fix="com" target='' alt=''><span class='icon'></span><span class='label'>Consultoria</span></a></div>
                                    {% elsif page.class == "equipa-pt" %}
                                        <div class='wrapper'><a href='http://consultoria.editvalue.com/equipa' data-href-domain-fix="com" target='' alt=''><span class='icon'></span><span class='label'>Consultoria</span></a></div>                                    
                                    {% elsif page.class == "servicos-pt" %}
                                        <div class='wrapper'><a href='http://consultoria.editvalue.com/servicos' data-href-domain-fix="com" target='' alt=''><span class='icon'></span><span class='label'>Consultoria</span></a></div>                                    
                                    {% elsif page.class == "rede-pt" %}
                                        <div class='wrapper'><a href='http://consultoria.editvalue.com/rede' data-href-domain-fix="com" target='' alt=''><span class='icon'></span><span class='label'>Consultoria</span></a></div>                                                                        
                                    {% elsif page.class == "contactos-pt" %}

                                    {% endif %}
                                </li>

                                <!-- AREA CLIENTE -->
                                <li class='clientes -last '>
                                    <div class='wrapper'>
                                        <a href='https://dynamicvalue.editvalue.com/' target='' alt=''><span class='icon'></span><span class='label'>Área de clientes</span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="container right ">
                    <div class='content' id='content_15219_container'>
                        <div class='nested-menu redessociais '>
                            <ul>
                                <li class='http-editvalue-blogspot-com blogger'>
                                    <div class='wrapper'>
                                        <a href='http://editvalue.blogspot.com/' target='_blank' alt=''><span class='icon'></span><span class='label'>Blogger</span></a>
                                    </div>
                                </li>
                                <li class='http-twitter-com-editvalue twitter'>
                                    <div class='wrapper'>
                                        <a href='http://twitter.com/editvalue' target='_blank' alt=''><span class='icon'></span><span class='label'>Twitter</span></a>
                                    </div>
                                </li>
                                <li class='https-www-linkedin-com-company-edit-value-formacao-empresarial linkedin'>
                                    <div class='wrapper'>
                                        <a href='https://www.linkedin.com/company/edit-value-formacao-empresarial' target=' _blank'
                                            alt=''><span class='icon'></span><span class='label'>Linkedin</span></a>
                                    </div>
                                </li>
                                <li class='http-www-facebook-com-editvalue-formacao facebook -last'>
                                    <div class='wrapper'><a href='http://www.facebook.com/EDITVALUE.Formacao' target='_blank' alt=''><span class='icon'></span><spanclass='label'></span></a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>