<div class='' id='container2'>
    <div class='contents'>
        <ol class='contents '>

            <li class="container left">
                <div class='content' id='content_15781_container'>
                    <div class='photo ' id='photo_15781_link'>
                        <div class='i'>
                            {% if page.class == "index-pt"%}                                
                                <span><img alt="Universo-top" src='../../assets/sites/55a8c341acbda1dcd0000002/theme/images/foreigners/edit-value-formacao/213/42173/universo-top.jpg' /></span>
                            {% elsif page.class == "equipa-pt" %}                                
                                <span><img alt="Universo-top" src='../../assets/sites/55a8c341acbda1dcd0000002/theme/images/foreigners/edit-value-formacao/213/40435/equipa-top.jpg' /></span>
                            {% elsif page.class == "servicos-pt" %}
                                <span><img alt="Universo-top" src='../../assets/sites/55a8c341acbda1dcd0000002/theme/images/foreigners/edit-value-formacao/213/144605/destaque_recursos_humanos.jpg' /></span>
                            {% elsif page.class == "rede-pt" %}
                                <span><img alt="Universo-top" src='../../assets/sites/55a8c341acbda1dcd0000002/theme/images/foreigners/edit-value-formacao/213/40532/rede-top.jpg' /></span>
                            {% elsif page.class == "contactos-pt" %}

                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>

            <li class="container left ">
                <div class='content' id='content_14741_container'>

                    <div class='nested-menu principal'>
                        <ul>
                            <!-- INDEX -->
                            <li class='index {{page.index_active?}}'>
                                <div class='wrapper'>
                                    <a href='../index.html' target='' alt=''><span class='icon'></span><span class='label'>EditValue</span></a>
                                </div>
                            </li>
                            <!-- EQUIPA -->
                            <li class='equipa {{page.equipa_active?}}'>
                                <div class='wrapper'>
                                    <a href='../equipa.html' target='' alt=''><span class='icon'></span><span class='label'>Equipa</span></a>
                                </div>
                            </li>
                            <!-- SERVIÇOS -->
                            <li class='servicos {{page.servicos_active?}}'>
                                <div class='wrapper'>
                                    <a href='../servicos.html' target='' alt=''><span class='icon'></span><span class='label'>Serviços</span></a>
                                </div>
                            </li>
                            <!-- MEDIA -->
                            <li class='media {{page.media_active?}}'>
                                <div class='wrapper'>
                                    <a href='../pt-media/rumo-economico.html' target='' alt=''><span class='icon'></span><span class='label'>Media</span></a>
                                </div>
                            </li>
                            <!-- REDE -->
                            <li class='rede {{page.rede_active?}}'>
                                <div class='wrapper'>
                                    <a href='../rede.html' target='' alt=''><span class='icon'></span><span class='label'>Rede</span></a>
                                </div>
                            </li>
                            <!-- CONTACTOS -->
                            <li class='contactos {{page.contactos_active?}}'>
                                <div class='wrapper'>
                                    <a href='../contactos.html' target='' alt=''><span class='icon'></span><span class='label'>Contactos</span></a>
                                </div>
                            </li>
                            <!-- FORMACAO -->
                            <li class='formacao -last {{page.formacao_active?}}'>
                                <div class='wrapper'>
                                    <a href='../formacao.html' target='' alt=''><span class='icon'></span><span class='label'>Plano de Formação</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</div>