<div class='' id='container2'>
    <div class='contents'>
        <ol class='contents '>

            <li class="container left">
                <div class='content' id='content_15781_container'>
                    <div class='photo ' id='photo_15781_link'>
                        <div class='i'>
                            {% if page.class == "index-en" %}                                
                                <span><img alt="Universo-top" src='../../assets/sites/55a8c341acbda1dcd0000002/theme/images/foreigners/edit-value-formacao/213/42173/universo-top.jpg' /></span>
                            {% elsif page.class == "equipa-en" %}                                
                                <span><img alt="Universo-top" src='../../assets/sites/55a8c341acbda1dcd0000002/theme/images/foreigners/edit-value-formacao/213/40435/equipa-top.jpg' /></span>
                            {% elsif page.class == "servicos-en" %}
                                <span><img alt="Universo-top" src='../../assets/sites/55a8c341acbda1dcd0000002/theme/images/foreigners/edit-value-formacao/213/144605/destaque_recursos_humanos.jpg' /></span>
                            {% elsif page.class == "contactos-en" %}
                                <span><img alt="Universo-top" src='../../assets/sites/55a8c341acbda1dcd0000002/theme/images/foreigners/edit-value-formacao/213/40569/contactos-top.jpg' /></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>

            <li class="container left ">
                <div class='content' id='content_14741_container'>

                    <div class='nested-menu principal'>
                        <ul>
                            <!-- INDEX -->
                            <li class='index {{page.index_active?}}'>
                                <div class='wrapper'>
                                    <a href='../../en.html' target='' alt=''><span class='icon'></span><span class='label'>Index-en</span></a>
                                </div>
                            </li>
                            <!-- EQUIPA -->
                            <li class='team {{page.equipa_active?}}'>
                                <div class='wrapper'>
                                    <a href='../../en/team.html' target='' alt=''><span class='icon'></span><span class='label'>Team</span></a>
                                </div>
                            </li>
                            <!-- SERVIÇOS -->
                            <li class='services {{page.servicos_active?}}'>
                                <div class='wrapper'>
                                    <a href='../../en/services.html' target='' alt=''><span class='icon'></span><span class='label'>Services</span></a>
                                </div>
                            </li>

                            <!-- CONTACTOS -->
                            <li class='contacts {{page.contactos_active?}}'>
                                <div class='wrapper'>
                                    <a href='../../en/contacts.html' target='' alt=''><span class='icon'></span><span class='label'>Contacts</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</div>