<li class="container left">
    <div class='content' id='content_14763_container'>
        <div class='nested-menu destaques_media'>
            <ul>
                <li class='media {{page.rumo_active?}}'>
                    <div class='wrapper'>
                    <a href='../../../../pt-media/rumo-economico.html' target='' alt=''><span class='icon'></span><span class='label'>Noticias Rumo Económico</span></a>
                    </div>
                </li>
                <li class='artigos-economia  {{page.artigos_active?}}'>
                    <div class='wrapper'>
                    <a href='../../../../pt-media/artigos/index.html' target='' alt=''><span class='icon'></span><span class='label'>Artigos Suplemento de Economia</span></a>
                    </div>
                </li>
                <li class='videos {{page.videos_active?}}'>
                    <div class='wrapper'>
                    <a href='../../../../pt-media/videos.html' target='' alt=''><span class='icon'></span><span class='label'>Videos</span></a>
                    </div>
                </li>
                <li class='clipping  {{page.clipping_active?}}'>
                    <div class='wrapper'>
                    <a href='../../../../pt-media/clipping/index.html' target='' alt=''><span class='icon'></span><span class='label'>Clipping</span></a>
                    </div>
                </li>
                <li class='press-release  {{page.press_active?}}'>
                    <div class='wrapper'>
                    <a href='../../../../pt-media/press-release.html' target='' alt=''><span class='icon'></span><span class='label'>Press Release</span></a>
                    </div>
                </li>
                <li class='logo-marca {{page.logo_active?}}'>
                    <div class='wrapper'>
                    <a href='../../../../pt-media/logo-marca.html' target='' alt=''><span class='icon'></span><span class='label'>Logo Marca</span></a>
                    </div>
                </li>
                <li class='galeria-fotos -last  {{page.galeria_active?}}'>
                    <div class='wrapper'>
                    <a href='../../../../pt-media/galeria-fotos.html' target='' alt=''><span class='icon'></span><span class='label'>Galeria de Fotos</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</li>