---
layout: default
title: Press Release
class: media-pt
media_active?: active
press_active?: active
idiom: pt
pagination:
  enabled: true
  category: press-release
---

<body class='older_browser ev media pt'>
  <ol class='contents clearfix'>
      
    {% include menu-nested.html %}
      
    <li class="container left">
      <div class="content" id="content_14815_container">
        <div class="list press_release" id="list_139">
          <h1>
            <span class="value">Press Release</span><span class="i18n"></span>
          </h1>

          <div class="items">
            {% for post in paginator.posts %}
            <ul>
              <li class="i-0 no-image odd">
                <div class="item">
                  <div class="folder">
                    <div class="name">
                      <span class="label">Nome</span>
                      <span class="value">{{post.title}}</span>
                    </div>
                    <div class="date">
                      <span class="label">Data</span>
                      <span class="value">{{post.data}}</span>
                    </div>
                  </div>
                  <div class="_more_link_">
                    <div class="more-link">
                      <a href="{{post.url}}">
                        <span style="padding: 1px 0 2px 0;">mais</span>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            {% endfor %}

            <div class="footer">
              <table align="center" class="paginator-container" style="font-size: 12px;">
                <tr><td>
                  <div class="paginator" align="center" >
                    <div class="pagination">
                      {% if paginator.previous_page %}
                        <a href="{{ paginator.previous_page_path }}" class="previous">P&aacute;gina anterior</a>
                      {% else %}
                        <span class="previous_page disabled">P&aacute;gina anterior</span>
                      {% endif %}
                      <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
                      {% if paginator.next_page %}
                        <a href="{{ paginator.next_page_path }}" class="next">Pr&oacute;xima p&aacute;gina</a>
                      {% else %}
                        <span class="next_page disabled">Pr&oacute;xima p&aacute;gina</span>
                      {% endif %}
                  </div>
                </td></tr>
              </table>
            </div>
            
          </div>
        </div>
      </div>
    </li>
  </ol>
</body>