@import url(https://adagaweb.s3.amazonaws.com/sites/55a8c341acbda1dcd0000002/theme/stylesheets/vendor/jquery.fancybox-1.3.4.css);
@import url(../../../../../assets/sites/55a8c341acbda1dcd0000002/theme/stylesheets/vendor.css);
/* digi */
.two-column-text {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 22px;
  -moz-column-gap: 22px;
  column-gap: 22px;
  text-align: justify;
  margin: 12px 0; }
  .two-column-text p {
    margin-top: 0; }
