<html lang='pt' xml:lang='pt' xmlns='http://www.w3.org/1999/xhtml'>
{% include head.html %}
    <body>
        <div class='clearfix' id='main_container'>
            {% include header.html %}
            <div class='clearfix' id='middle_container'>
                {% include menu.html %}
                <div class='' id='container3'>
                    <div class='contents'>
                        {{content}}
                    </div>
                </div>
            </div>
            {% include footer.html %}
        </div>
    </body>
</html>