<html lang='pt' xml:lang='pt' xmlns='http://www.w3.org/1999/xhtml'>
{% include head.html %}
    <body>
        <div class='' id='main_container'>
            {% include header.html %}
            <div class='clearfix' id='middle_container'>
                {% if page.idiom == "pt" %}
                    {% include menu.html %}

                {% elsif page.idiom == "en" %}
                    {% include menu-en.html %}

                {% elsif page.idiom == "es" %}
                    {% include menu-es.html %}
                {% endif%}
                
                <div class='' id='container3'>
                    <div class='contents'>
                        {{content}}
                        {% include galeria-post.html %}
                    </div>
                </div>
            </div>
            {% include footer.html %}
        </div>
    </body>
</html>